* {
	margin: 0;
	padding: 0;
}

body {
    font-family: system-ui, BlinkMacSystemFont, Roboto, arial, sans-serif;
    font-size: 12px;
}
/*Google logo is a background image of a h1 block*/
h1#logo {
    height: 92px;
    width: 272px;
    background: url("images/googlelogo_color_272x92dp.png") top left no-repeat;
    background-size: 100%;
    margin:  0 auto;
}
/*the container for the center contents*/
#mainContainer {
    width: 580px;
    margin: 150px auto 0;
    text-align: center;
}

/* SearchBox */

#searchBoxContainer {
    margin: 0 auto 0 auto;
    min-width: 410px;
    width: var(--content-width);
}

input[type="text"] {
    background: white;
    border-radius: 22px;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    box-sizing: border-box;
    cursor: text;
    font-size: 16px;
    height: 44px;
    margin: 0 auto;
    width: 44px;
    max-width: 584px;
    opacity: 1;
    text-indent: 20px;
    transition: width .5s ease-in-out;
    background-image: url(images/search-24px.svg);
    background-repeat: no-repeat;
    background-position: center;
}
input[type="text"]::placeholder {
    visibility: hidden;
}

/*still refers to search box*/
input[type="text"]:hover {
	width: 584px;
    background-position: 50% 50%;
    background-image: url(images/search-24px.svg);
    background-repeat: no-repeat;
    background-position: 16px 50%;
    transition: width .5s ease-in-out;
    text-indent: 20px;
}
input[type="text"]:hover::placeholder {
    visibility: visible;
    text-indent: 70px;
    padding-left: 40px;
}

input[type="text"]:focus {
	width: 584px;
    padding-left: 40px;
    background-image: url(images/search-24px.svg);
    background-repeat: no-repeat;
    background-position: 16px 50%;
    transition: width .5s ease-in-out;
}

input[type="text"]:focus::placeholder {
    visibility: visible;
}

/*refers to google search button*/

input[type="submit"] {
    background-color: rgba(242, 242, 242);
    padding: 10px 15px;
    font-size: 13px;
    border: none;
    color: rgba(85, 89, 93);
    margin: 4px;
    border-radius: 4px;
    cursor: pointer;
}

small {
    display: block;
    margin: 20px 0 0;
    font-size: 12px
}

nav#header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-icon {
    width: 45%;
    margin-right: -15px;
    transition: 0.15s;
    opacity: 0.5;
}
/*this changes the opacity of icon with transition of 0.15s */
.app-icon:hover {
    opacity: 1;
}	

nav ul li{
    display: inline-block;
}
/* this changes the appearance of link when visited and not visited */
nav#header ul li a:link,
nav#header ul li a:visited {
    color: #555;
    text-decoration: none;
    padding: 10px;
    color: black;
    font-size: 13px;
}
/* sign-in button*/
nav#header ul li #signIn {
    background-color: rgba(62, 129, 251);
    padding: 5px 10px;
    border-radius: 2px;
    color: white;
}
/* This is the sign in button change */
#signIn:hover{
    filter: brightness(115%);
    background-color: rgba(72, 133, 237, 0.865);
    box-shadow: 0 0 5px 1px #4884eb;
}


/* underlines links on pointer hover */
nav#header ul li a:hover {
    text-decoration: underline;
    color: #333;
}

footer {
    position: fixed;
    bottom: -28px;
    background-color: rgba(239, 239, 239);
    padding: 12px 0;
    width: 100%;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

footer:hover, footer.slide {
    transform: translateY(-28px);
}

footer nav {
    padding: 0 12px;
}

footer nav ul li {
    padding: 0 12px;
}

footer nav ul li a{
    color: rgba(85, 89, 93);
    text-decoration: none;
}

footer nav ul li a:hover {
    text-decoration: underline;
}

footer nav ul {
    float: left;
}

footer nav ul#rightLinks {
    float: right;
}

